{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "sed -i 's/\"version\": \"[0-9\\.]*\",/\"version\": \"${nextRelease.version}\",/g' ./NeonTiming/library.json",
                "publishCmd": "pio pkg publish --no-interactive"
            }
        ],
        "@semantic-release/github"
    ]
}
